@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 86%);
  overflow: hidden;
}
.container {
  padding: 2.5rem;
  width: 520px;
  max-width: 100%;
  min-height: 40rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  border-radius: 1rem 1rem 11rem;
}
.dateblock {
  display: flex;
  width: 90%;
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
  color: hsl(0, 1%, 44%);
}
input {
  color: hsl(0, 1%, 44%);
  margin: 0.5rem 0rem 0.2rem 0px;
  width: 70%;
  padding: 1rem;
  border: 0.5px solid hsl(0, 0%, 86%);
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 800;
}
input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
  color: hsl(0, 0%, 8%);
}
.box.error span{
    visibility: visible;
}
.box.error input{
    border-color: hsl(0, 100%, 67%);
}
.box.error label{
    color: hsl(0, 100%, 67%);
}
.errormsg {
    font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color:hsl(0, 100%, 67%) ;
  visibility: hidden;
}
.submitblock {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
hr {
  border: none;
  background-color: hsl(0, 0%, 86%);
  width: 100%;
  height: 1px;
}
img {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
}
.output {
  color:hsl(0, 0%, 8%);
  font-weight: 700;
  font-size: 6rem;
  font-style: italic;
  width: 100%;
  height: 100%;
}
.output span {
  color: hsl(259, 100%, 65%);
}
.output p {
  display: inline-block;
}
@media (width<500px) {
  html {
    font-size: 50%;
  }
  .submitblock {
    margin: 4rem 0rem;
  }
  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (width<360px) {
  html {
    font-size: 42%;
  }
  .dateblock {
    width: 100%;
  }
  input {
    width: 80%;
  }
}
